.list {
  border: 1px solid lightgrey;
  display: flex;
  max-width: 450px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem;
}

.list-head {
  font-size: 1.8rem;
}

.hr {
  width: 80%;
}

.list-items {
  margin-top: 0.3rem;
  font-size: 1rem;
}

.list:hover {
  box-shadow: 3px 5px 7px lightgrey;
  transition: 1s;
  cursor: pointer;
}
