.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: black;
}

.nav-logo {
  color: white;
  font-size: 2.0rem;
}

.nav-links {
  display: flex;
  flex-direction: row;
}

.nav-item {
  color: white;
  padding: 0.3rem;
  text-decoration: none;
  font-size: 1.6rem;
}

.nav-item:hover {
  color: black;
  background-color: white;
  transition: 1s;
}
