
.cont {
  display: flex;
  justify-content: center;
}

.box {
  border: 1px solid lightgrey;
  border-radius: 10px;
  box-shadow: 3px 5px 15px 3px grey;
  background-color: white;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 10% auto;
  justify-content: center;
  text-align: center;
}

.hr {
  width: 80%;
  background-color: lightgrey;
  margin: 0.2rem auto;
}

.box button {
  width: 75%;
  margin: 0.5rem auto;
  border-radius: 5px;
}

.box input {
  width: 90%;
  margin: 0.2rem auto;
}

.box h2 {
  font-size: 2rem;
  font-weight: bold;
}

.box h3 {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0.2rem auto;
}
